<h1>Browse our Cuty McCuteFace Toys! ;)</h1>
  <%# <%= link_to "Add toy", new_toy_path, class: "btn btn-secondary m-3" %>

<%= render "shared/card" %>

<%= link_to "Sign in", new_user_session_path, class: "btn btn-flat" %>
<%= link_to "Log out", destroy_user_session_path, class: "btn btn-flat", data: { turbo_method: :delete } %>

        <%# <% if toy.photo.attached? %>
          <%# <%= cl_image_tag toy.photo.key, height: 300, width: 400, crop: :fill %>
        <%# <% end %>
