<div class="color-box" style="background-image: url('<%= asset_url("toys/show_bg.png")%>');"   >
  <div class="container show-container justify-content-around">
    <div class="content-left">
      <div class="toy-name">
        <h3 class="mb-3 h3-title"><%= @toy.name.capitalize  %></h3>
        <div class="purple-line"></div>
      </div>
      <p class="toy-description"><%= @toy.description %></p>
      <div class="map-show"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <% if policy(@toy).destroy? %>
        <%= link_to "Delete", delete_toy_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger m-3" %>
      <% end %>
      <% if current_user != @toy.user %>
        <%= render 'form_book', booking: @booking, toy: @toy %>
      <% end %>
    </div>
    <div class="">
      <%= cl_image_tag @toy.photo.key, width: 400, crop: :fill, class: "image-show" %>
    </div>
  </div>
</div>
