<%= cl_image_tag @toy.photo.key, height: 300, width: 400, crop: :fill %>

<p>Toy Name:  <%= @toy.name  %>  </p>
<p>Description:  <%= @toy.description  %>  </p>
<p>Location:  <%= @toy.address  %>  </p>

<div style="width: 500px; height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<p> <% if @toy.soul_taking_chance > 50 %>
    Soul taking chance 😈
  <% else %>
    Soul taking chance 😇
  <% end %>
  <%= @toy.soul_taking_chance %> %
</p>



<p <% if @toy.kid_friendly == true %>
    <%= 'style=color:green' %>>
    KID FRIENDLY
  <% else %>
    <%='style=color:red' %>>
    KID UNFRIENDLY

  <% end %> </p>

<% if policy(@toy).destroy? %>
  <%= link_to "Delete", delete_toy_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger m-3" %>
<% end %>

<% if current_user != @toy.user %>
  <%= link_to "Book", new_toy_booking_path(@toy), class: "btn btn-flat m-3" %>
<% end %>
