<p>Toy Name:  <%= @toy.name  %>  </p>
<p>Description:  <%= @toy.description  %>  </p>
<p>Location:  <%= @toy.location  %>  </p>


<p> <% if @toy.soul_taking_chance > 50 %>
    Soul taking chance 😈
  <% else %>
    Soul taking chance 😇
  <% end %>
  <%= @toy.soul_taking_chance %> %
</p>



<p <% if @toy.kid_friendly == true %>
    <%= 'style=color:green' %>>
    KID FRIENDLY
  <% else %>
    <%='style=color:red' %>>
    KID UNFRIENDLY

  <% end %> </p>

<%= link_to "Book", new_toy_booking_path(@toy), class: "btn btn-dark m-3" %>
