<div class="d-flex justify-content-around">
  <div class="cards">
    <% @toys.each do |toy| %>
    
      <div class="card-trip">
        <%= link_to toy_path(toy) do %>
          <%= cl_image_tag toy.photo.key, height: 300, width: 400, crop: :fill, alt: toy.name %>
        <% end %>

        <div class="card-trip-infos">
          <div>
            <h2><%= link_to toy.name, toy_path(toy) %></h2>
            <p> Cuteness: <%= "★" * toy.cuteness + "☆" * ((toy.cuteness - 5).abs) %>  </p>

            <p>  <%= toy.kid_friendly ? "For kids ✔" : "Not for kids ❌"  %></p>

            <p>"<%= toy.description %>"</p>
          </div>

          <div class="card-trip-pricing">
            <div>
              <h2 ><%= toy.price_daily %>€ / day</h2>
              <% if current_user != toy.user %>
                <%= link_to "Book", new_toy_booking_path(toy), class: "btn btn-pur  "   %>
              <% elsif policy(toy).destroy? %>
                <br>
                <p style='font-weight: bold'>This is yours</p>
                <%# <%= link_to "Delete", delete_toy_path(toy), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger m-3" %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
