<%# <div class="d-flex justify-content-around"> %>
  <div class="cards">
    <% @toys.each do |toy| %>
      <div class="card-trip">
        <%= link_to toy_path(toy) do %>
          <%= cl_image_tag toy.photo.key, height: 300, width: 400, crop: :fill, alt: toy.name %>
        <% end %>

        <div class="card-trip-infos">
            <h2><%= link_to toy.name, toy_path(toy) %></h2>
            <p><%= toy.cuteness %></p>
            <p><%= toy.description %></p>

          <div class="card-trip-pricing">
            <h2 ><%= toy.price_daily %>€</h2>
            <p> /day </p>
          </div>

          <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
          <% if current_user != toy.user %>
            <%= link_to "Book", new_toy_booking_path(toy), class: "btn btn-dark m-3" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<%# </div> %>
