<div class="container">
  <h1>Welcome to your dashboard</h1>
</div>

<div class="d-flex justify-content-around m-3">

  <div class="row">
      <br>
      <h3>Your bookings:</h3>
      <br>
      <div class="d-flex justify-content-around">
        <div class="cards">
          <% @bookings.each do |booking| %>
            <div class="card-trip">
             <%= link_to toy_path(booking.toy) do %>
                <%= cl_image_tag booking.toy.photo.key, height: 300, width: 400, crop: :fill, alt: booking.toy.name %>
            <% end %>

                  <p> <%= "You booked this cute toy: #{booking.toy.name}" %> </p>
                  <p><%= "»  Total price: #{booking.price} €" %></p>
                  <p><%= "»  For these dates: #{booking.start_date} - #{booking.end_date}." %></p>
              <p><%= link_to "Delete", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-red m-3" %></p>
            </div>
          <% end %>
      </div>
    </div>

    <%# <div class="row"> %>
      <br>
      <h3>Your toys:</h3>
      <br>
      <%= render "shared/card" %>
      </div>
    </div>
  </div>
</div>
