<!DOCTYPE html>
<html>
  <head>
    <title>MoreThanToys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;1,500;1,700;1,900&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="page-container">
      <nav>
        <%= render "shared/navbar" %>
      </nav>
      <div class="content-container">
       <%= yield %>
      </div>
      <footer class="footer-container" >
            <%= render "shared/footer" %>
      </footer>
    </div>
      <%= render "shared/flashes" %>
      <p class="notice"><%#= notice %></p>
      <p class="alert"><%#= alert %></p>
  </body>
</html>
